#site-header{
    background: #393982;
}
.blog-title {
    color: #fc6d26;
}
.blog-description{
    color: #e24329;
}
main{
    background: #f5f5f5;
}
a{
    color: black;
}
a:hover{
    color: #fca326;
}